.containersss {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
  .containerssss {
    display: flex;
    justify-content: center;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  .containers {
    max-width: 960px;
    margin: 0 ;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
  }
  
  .logo {
    margin: 0;
    padding: 10px;
  }
  
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .section {
    padding: 60px 0;
    text-align: center;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar-items-right {
    justify-content: flex-end;
  }
  
  .navbar-items a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  .containerssss {
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }